.Notification-Container {
    background-color: white;
    padding: 30px 50px 30px 50px !important;
    border-radius: 7px;
}
.NotificationBoldText{
    font-size: 14px;
    color: #15181E;
}
.NotificationLightText{
    font-size: 14px;
    color: #5F6674;

}
.NotificationLinkText{
    color: #68ABFF;
}
.Segemntbtn{
    background-color: #517A95;
    border-radius: 3px;
    height: 25px;
    font-size: 12px;
    color: white;
    border: none;
    font-family: 'Poppins';
    font-weight: 600;
    letter-spacing: 3px;
    padding-left: 15px;
    padding-right: 15px;
}
.LSpace{
    letter-spacing: 1px;
    word-spacing: 3px;

}
.roundRed{
    height: 15px;
    width: 15px;
    background: #B5322A;
    border-radius: 50%;
    position: absolute;
    left: 13px;
    margin-top: 4px;
}

.SegementQuery{
    color: #505766;
    font-size: 10px;
}
.SegmentDropDown{
    width: 167px;
    font-family: 'Poppins';
    font-weight: 900;
    height: 29px;
    padding-left: 15px;
    border: 2px solid #E9EBF0;
}
.SegmentViewBTn{
    height: 44px;
    width: 136px;
    background: white;
    border-radius: 33px;
    color: #517A95;
    border: 2px solid #517A95;
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: 700;

}
.SegmentViewBTn:hover{
    background: #517A95;
    color: white;
}
.SegmentViewBTn:focus{
    outline: none;
}
.SegmentMiddileDiv{
    background: #DEE4E8;
    padding: 20px 15px 20px 15px;

}
.SegmentRadioLabel{
    color: #505766;
    font-size: 10px;
}

.titleAllowBook{
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}
.gotolibrary{
    color: blue;
    font-size: 12px;
    font-family: 'Poppins';
    font-weight: 400;
    cursor: pointer;
}
.QieryHeading{
    font-size: 10px;
    margin: 0px;
}
.QuerySelect{
    color: #15181E;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 900;
    /* width: 65%; */
    padding-left: 13px;
    padding-right: 13px;
}
.userbackground{
    padding: 30px 50px 30px 50px !important;
    background: #dde9f1;
}
.OnBoard{
    font-size: 10px;
    color: #505766;
    letter-spacing: 1px;
}
.MacBtn{
    padding-left: 30px;
    padding-right: 30px;
    background: #517A95;
    border: none;
    height: 44px;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
}
.AndroidBtn{
    padding-left: 30px;
    padding-right: 30px;
    background: #fff;
    border: none;
    height: 44px;
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
    border: 1px solid #bfbfbf;
}

.msg{
    position: absolute;
    top: 37%;
    right: 17.7%;
}
.SelectLAbel{
    font-size: 12px;
    color: #505766;
    letter-spacing: 1.2px;
    word-spacing: 4px;
}
.notySelect{
    height: 44px;
    background: #E9EBF0;
    border: none;
    border-radius: 1px;
    width: 100%;
    padding-left: 17px;
    padding-right: 20px;
    color: #AAB1BF;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 300;
}
.notyInput{
    height: 44px;
    background: #fff;
    border: 1px solid #bfbfbf;
    border-radius: 1px;
    width: 100%;
    padding-left: 17px;
    padding-right: 20px;
    color: #15181E;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
}
.notyTextArea{
    height: 91px;
    background: #fff;
    border: 1px solid #bfbfbf;
    border-radius: 1px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 21px;
    color: #15181E;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
}
.noty-input-container{
    margin-top: 20px;
    margin-bottom: 20px;
}
.optionaltext{
    font-size: 10px;
    color: #8E96A7;
    font-family: 'Poppins';
    font-weight: 400;
}
.lauchTxt{
    position: absolute;
    left: 52px
}
.userbackgroundContainer{
    background: #F3F5F8;
    padding: 20px 15px 20px 15px;

}

.notyCancelBtn{
    border: none;
    background: #B5322A;
    color: white;
    height: 44px;
    width: 136px;
    font-size: 15px;
    border-radius: 33px;
    font-family: 'Poppins';
    font-weight: 500;
    letter-spacing: 1px;
    margin: 10px;

    
}
.notyCancelBtn:focus{
    outline: none;
}
.notyAcptBtn{
    border: none;
    background: #517A95;
    color: white;
    height: 44px;
    width: 136px;
    font-size: 15px;
    border-radius: 33px;
    font-family: 'Poppins';
    font-weight: 500;
    letter-spacing: 1px;
    margin: 10px;

    
}
.notyAcptBtn:focus{
    outline: none;
}
.ViewALlBtn{
    position: absolute;
    right: 0%;
    top: -20px;
    border: none;
    color: #517A95;
    border: 2px solid #517A95;
    height: 44px;
    width: 136px;
    font-size: 15px;
    border-radius: 33px;
    font-family: 'Poppins';
    font-weight: 700;
    letter-spacing: 1px;
    margin: 10px;
    background: white;

}
.ViewALlBtn:hover{
    background: #517A95;
    color: white;
}
.ViewALlBtn:focus{
    outline: none;
}