.generateReportBtn{
    border-radius: 3px;
    background: #FAC85B;
    border: none;
    height: 33px;
    width: 143px;
    font-family: 'Montserrat';
    font-size: 11px;
    font-weight: 500;
}
.generateReportth{
    text-align: right;
}
.hide-on-print{
    height: 30px;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #FAC85B;
    border: none;
    box-shadow: 0px 0px 2px 0px;
    width: 10%;
    font-family: 'Poppins';
    font-weight: 600;
    margin-right: 27px;

    }
    .hide-on-print:hover{
        border: 2px solid #FAC85B;
        color: black;
        background: white;
    }
    .hide-on-print:focus{
        outline: none;
        opacity: 0.8;
    }

    @media print{
        .hide-on-print{
            display: none;
        }
    }