.generateReportBtn{
    border-radius: 3px;
    background: #FAC85B;
    border: none;
    height: 33px;
    width: 143px;
    font-family: 'Montserrat';
    font-size: 11px;
    font-weight: 500;
}
.generateReportth{
    text-align: right;
}